{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Candidates List</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Skills</th>
                    <th>Resume</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.skills | join(', ') }}</td>
                    <td>
                         <td><a href="{{ url_for('view_candidates', candidate_id=candidate._id) }}" class="btn btn-info btn-sm"></td>
                        
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
